#sidebar-left {
  /*background: #6AA6D6 url(../img/devoops_pattern_b10.png) 0 0 repeat;*/
  background: #6bd66b url(../img/devoops_pattern_b10.png) 0 0 repeat;  
}

.main-menu .dropdown-menu {
  /*background: #6AA6D6 url(../img/devoops_pattern_b10.png) 0 0 repeat;*/
  background: #6bd66b url(../img/devoops_pattern_b10.png) 0 0 repeat;
}
#breadcrumb {
  /*background: #5a8db6 url(../img/devoops_pattern_b10.png) 0 0 repeat;*/
  background: #6bd66b url(../img/devoops_pattern_b10.png) 0 0 repeat;
}
body {
  /*color: #525252;
  background: #6AA6D6 url(../img/devoops_pattern_b10.png) 0 0 repeat;*/
  background: #6bd66b url(../img/devoops_pattern_b10.png) 0 0 repeat;
}
