<!--Designed by DWS-->
            <div class="row fullscreenboxhide">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Coding Management</a></li>
                    </ol>
                </div>
            </div>
            <div class="row fullscreenboxhide">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Setup Coding</span>
                            </div>
                            <div class="box-icons">
                                <button type='button' class="btn btn-primary label-to-load-csv">
                                    <i class="fa fa-upload"></i>&nbsp;Append from CSV
                                    <input type="file" id="fileUploadLabel" accept=".csv" style='display:none;'/>
                                </button>                                
                                <button type='button' class="btn btn-primary label-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </button>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <a id='addLabelNew'><i class="fa fa-plus"></i>&nbsp;Add Code</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="remove-label"><i class="fa fa-times"></i>&nbsp;Remove Code</a>&nbsp;&nbsp;&nbsp;
                                    <a class="copy-label"><i class="fa fa-copy"></i>&nbsp;Copy Code</a>&nbsp;&nbsp;&nbsp;<i>(double-click to edit)</i>
                                    <div title="Double-click to edit">
                                        <select id="label-list" class="form-control" size="5"></select>
                                    </div>
                                    <i>Note: Codes are automatically loaded/cached to this computers browser</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fullscreenboxhide">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Create Master Coding File</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <h4>To create a master code file:</h4>
                            <ol>
                                <li>Add all the CODEs needed for the coding project above.</li>
                                <li>Load a CSV file to merge the CODE entries above with the data (i.e. CSV file).<button type='button' class="btn btn-primary beauty-table-to-load-csv">
                                    <i class="fa fa-upload"></i>&nbsp;Load from CSV
                                    <input type="file" id="fileUpload"  accept=".csv" style='display:none;'/>
                                </button></li>
                                <li>Select the type of each column and if it is a groupby:
                                    <ul>
                                        <li>Instagram: The column data has a link to an image or video (if image must be an Instagram image without the e150x150 in link) (e.g. https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11330522_641846484916250_208402853_n.jpg)</li>
                                        <li>General Image: The column data has a link to an image</li>
                                        <li>General Video: The column data has a link to a video (.ogg, .mp4, .mov, .avi)</li>
                                        <li>Youtube: The column data is the Youtube ID (e.g. OBEV5qBLnzs)</li>
                                        <li>Group By: The Tool can display the data in a group by fashion.  As in all the combinations of categories found in the group by columns will be displayed in one table, and the second table will only show the selected group. (Note: This can be added to any column, including Instagram, Youtube, and Code.)</li>
                                    </ul>
                                </li>
                            </ol>
                            <a target='_blank' href='/master_coding_instructions.html'>Master Coder Custom File Setup Instructions</a> (only needed if not using this tool).<br>
                            <div class='colorder'>
                                <h4>Part II</h4>
                                <ol>
                                    <li>
                                    <button id='applylabels' type='button' class="btn btn-primary">
                                        Update CODE columns
                                    </button>(if changed the questions or answers above)</li>
                                    <li>Order the columns by drag-n-drop / also select column types (or reload a new file):
                                    
                                    <ul id='datalist' class='sortable'></ul>
                                    </li>
                                    <li><button id='show-table' type='button' class="btn btn-primary">
                                        Show Example Table
                                    </button>(will display an example of up to 500 entries of the coding)</li>

                                    <li>When complete click this button save the file: 
                                    <button type='button' class="btn btn-primary raw-table-to-csv-all">
                                        <i class="fa fa-download"></i>&nbsp;Save merged data to CSV
                                    </button></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fullscreenboxhide">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Coding Instructions</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content no-padding table-responsive">
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <h4><a href="#" onClick="window.open('watch_coding_entry_demo.html','Coding Entry Demo','width=670,height=550,toolbar=no,location=no,directories=no,statu s=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no')">Watch Coding Entry Demo</a></h4>
                                    <h5>To edit one row at a time: double-click a row</h5>
                                    <h5>While editing the CODE columns in the table you can use the keyboard to navigate cells, see below</h5>
                                    <ol>
                                        <li><kbd>Enter</kbd> / <kbd>Shift</kbd>+<kbd>Enter</kbd> Next/Previous row of current column</li>
                                        <li><kbd>Tab</kbd> / <kbd>Shift</kbd>+<kbd>Tab</kbd> Next/Previous label column (wrap around)</li>
                                    </ol>
                                    <span>To search using a regular expression by column, put a "~" as the first character, and then when expression is complete press <kbd>ENTER</kbd></span><br>
                                    <span>Example: For CODE columns to find the blank ones type: "~^$"</span>
                                    <h5><u>For Group Coding:</u></h5>
                                    <ul>
                                        <li>A group table will be shown above the typical indivial data table.
                                        </li>
                                        <li>You filter the individual data table by selecting a row (i.e. clicking).</li>
                                        <li>Also you can unselect a row to show all data.</li>
                                        <li>To navigate the selected group:
                                            <ul>
                                                <li><kbd>Ctrl</kbd> + <kbd>↑</kbd> for previous Group</li>
                                                <li><kbd>Ctrl</kbd> + <kbd>↓</kbd> for next Group</li>
                                            </ul>
                                        </li>
                                        <li>If navigating group while editing a Single row then the box with close and open a on the new group's first element with first CODE selected.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12">
                    <div class="box" id='tablebox'>
                        <div class="box-header">
                            <div class="box-name">
                                <span>Example Coding Data</span>
                                <span id='alllabel'>
                                    <span class='labeltitle' style='display: inline;'>&nbsp;</span><span style='display: inline;' class='labelCount'></span>
                                </span>
                            </div>
                            <div class="box-icons">
                                <a class="largecode">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content table-responsive" style='height: calc(100% - 28px)'>
                            <div id='loadprogress'></div>
                            <div id='split' class='split' style='height: 100%'>
                                <div id='groupdiv' class='split split-vertical' style='height: 0%'>
                                    <table class="table table-bordered table-striped table-hover table-heading table-datatable beauty-table-mod m-table" id="grouptable">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                <div id='singlediv' class='split split-vertical' style='height: 100%'>
                                    <table class="table table-bordered table-striped table-hover table-heading table-datatable beauty-table-mod m-table" id="datatable-3">  
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src='plugins/splitjs/split.min.js'></script>
            <script type="text/javascript">
            setupCodeManage();
            </script>
            <script src='plugins/datatables/ZeroClipboard.js'></script>
            <script src='plugins/datatables/TableTools.js'></script>
            <script src='plugins/datatables/dataTables.colReorder.min.js'></script>
            <script src='plugins/datatables/dataTables.bootstrap.js'></script>
            <script src='plugins/select2/select2.min.js'></script>
            <script src='plugins/bloodhound/bloodhound.min.js'></script>
            <script src='plugins/bloodhound/typeahead.jquery.min.js'></script>
            <script src='plugins/datatables/dataTables.scroller.min.js'></script>
            <script src='plugins/datatables/dataTables.autoFill.js'></script>
            <script src='plugins/datatables/dataTables.select.min.js'></script>
            <script src="http://vjs.zencdn.net/5.0.0/video.js"></script>
                        
