<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row fullscreenboxhide">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Coding Entry</a></li>
                    </ol>
                </div>
            </div>
            <div class="row fullscreenboxhide">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Coding Instructions</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content no-padding table-responsive">
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <h4><a href="#" onClick="window.open('watch_coding_entry_demo.html','Coding Entry Demo','width=670,height=550,toolbar=no,location=no,directories=no,statu s=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no')">Watch Coding Entry Demo</a></h4>
                                    <button id='demo' type='button'  class="btn btn-primary">
                                        <i class="fa fa-comments"></i>&nbsp;Start Tour of Tool (creates example CSV for Master Coder)
                                    </button>
                                    <h4><a target='_blank' href='/master_coding_instructions.html'>Master Coder Setup Instructions</a></h4>
                                    <h4>Select a file to load.</h4>
                                    <h5>To edit one row at a time: double-click a row</h5>
                                    <h5>While editing the CODE columns in the table you can use the keyboard to navigate cells, see below</h5>
                                    <ol>
                                        <li><kbd>Enter</kbd> / <kbd>Shift</kbd>+<kbd>Enter</kbd> Next/Previous row of current column</li>
                                        <li><kbd>Tab</kbd> / <kbd>Shift</kbd>+<kbd>Tab</kbd> Next/Previous label column (wrap around)</li>
                                    </ol>
                                    <span>To search using a regular expression by column, put a "~" as the first character, and then when expression is complete press <kbd>ENTER</kbd></span><br>
                                    <span>Example: For CODE columns to find the blank ones type: "~^$"</span>
                                    <h5><u>For Group Coding:</u></h5>
                                    <ul>
                                        <li>A group table will be shown above the typical indivial data table.
                                        </li>
                                        <li>You filter the individual data table by selecting a row (i.e. clicking).</li>
                                        <li>Also you can unselect a row to show all data.</li>
                                        <li>To navigate the selected group:
                                            <ul>
                                                <li><kbd>Ctrl</kbd> + <kbd>↑</kbd> for previous Group</li>
                                                <li><kbd>Ctrl</kbd> + <kbd>↓</kbd> for next Group</li>
                                            </ul>
                                        </li>
                                        <li>If navigating group while editing a Single row then the box with close and open a on the new group's first element with first CODE selected.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12">
                    <div class="box" id='tablebox'>
                        <div class="box-header">
                            <div class="box-name">
                                <span>Coding Data</span>
                                <span id='alllabel'>
                                    <span class='labeltitle' style='display: inline;'>&nbsp;</span><span style='display: inline;' class='labelCount'></span>
                                </span>
                            </div>
                            <div class="box-icons">
                                <button type='button'  class="btn btn-primary beauty-table-to-load">
                                    <i class="fa fa-cloud-download"></i>&nbsp;Load Data from Cache
                                </button>
                                <button type='button'  class="btn btn-primary beauty-table-to-save" id='tablesave'>
                                    <i class="fa fa-cloud-upload"></i>&nbsp;Cache Data
                                </button>
                                <button id='mainload' type='button'  class="btn btn-primary beauty-table-to-load-csv">
                                    <i class="fa fa-upload"></i>&nbsp;Load from CSV
                                    <input type="file" id="fileUpload"  accept=".csv" style='display:none;'/>
                                </button>                              
                                <button type='button'  class="btn btn-primary beauty-table-to-csv-all">
                                    <i class="fa fa-download"></i>&nbsp;Save all to CSV
                                </button>    
                                <a class="largecode">
                                    <i class="fa fa-expand"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content table-responsive" style='height: calc(100% - 28px)'>
                            <div id='loadprogress'></div>
                            <div class='split' style='height: 100%'>
                                <div id='groupdiv' class='split split-vertical' style='height: 0%'>
                                    <table class="table table-bordered table-striped table-hover table-heading table-datatable beauty-table-mod m-table" id="grouptable">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                <div id='singlediv' class='split split-vertical' style='height: 100%'>
                                    <table class="table table-bordered table-striped table-hover table-heading table-datatable beauty-table-mod m-table" id="datatable-3">  
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src='plugins/introjs/intro.js'></script>
            <script src='plugins/splitjs/split.min.js'></script>
            <script type="text/javascript">
            setupCoding();
            </script>
            <script src='plugins/datatables/ZeroClipboard.js'></script>
            <script src='plugins/datatables/TableTools.js'></script>
            <script src='plugins/datatables/dataTables.colReorder.min.js'></script>
            <script src='plugins/datatables/dataTables.bootstrap.js'></script>
            <script src='plugins/select2/select2.min.js'></script>
            <script src='plugins/bloodhound/bloodhound.min.js'></script>
            <script src='plugins/bloodhound/typeahead.jquery.min.js'></script>
            <script src='plugins/datatables/dataTables.scroller.min.js'></script>
            <script src='plugins/datatables/dataTables.autoFill.js'></script>
            <script src='plugins/datatables/dataTables.select.min.js'></script>
            <script src="http://vjs.zencdn.net/5.0.0/video.js"></script>
                        
