<!--Designed by DWS-->
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Tag and Rule Counts</a></li>
                    </ol>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12" id='dailybox'>
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Daily Counts by Tag for <span class='dbname'></span></span>
                            </div>
                            <div class="box-icons">            
                                <a class="label-to-csv tag-daily-count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save Daily to CSV
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div id='tagdaily'>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="progress progress-ui">
                                        <div class="progress-bar progress-bar-success slider-range-min" style="width: 100%;"></div>
                                    </div>
                                    <h4>Moving Average: <input type="text" class="slider-range-min-amount" /></h4>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" id="btnshowall">Show All Tags</button>
                                    <button class="btn btn-primary" id="btnhideall">Hide All Tags</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Tag Counts for <span class='dbname'></span></span>
                            </div>
                            <div class="box-icons">            
                                <a class="label-to-csv tag-count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div id="tooltipA" class="tooltip1 hidden1">
                                    <p><span id="valueA"></p>
                            </div>
                            Order: 
                              <select id="orderA">
                                  <!--option value="hclust">by max value overall</option-->
                                  <option value="probecontrast" selected>by Tag and Month</option>
                                  <option value="probe">by Tag</option>
                                  <option value="contrast">by Month</option>
                                  <option value="custom">by custom (autoset)</option>
                              </select>
                            <div id="chartA" style='overflow:auto; width:960px; height:450px;'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Rule Counts for <span class='dbname'></span></span>
                            </div>
                            <div class="box-icons">            
                                <a class="label-to-csv rule-count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div id='tagfilter'></div>
                            <div id="tooltipB" class="hidden1 tooltip1">
                                    <p><span id="valueB"></p>
                            </div>
                            Order: 
                              <select id="orderB">
                                  <!--option value="hclust">by max value overall</option-->
                                  <option value="probecontrast" selected>by Rule and Month</option>
                                  <option value="probe">by Rule</option>
                                  <option value="contrast">by Month</option>
                                  <option value="custom">by custom (autoset)</option>
                                  <option value="tags">by Tags</option>
                              </select>
                            <div id="chartB" style='overflow-x:scroll; width:100%; height:900px;'>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <script src='plugins/select2/select2.min.js'></script>
            <script src="http://d3js.org/d3.v3.min.js"></script>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type="text/javascript">
                setupCountData();
            </script>
