<!--Designed by DWS-->
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Introduction</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                              <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                              <h4>This webpage will show you what label projects you are a part of and percent complete.</h4>
                        </div>
                    </div>
                </div>
            </div>
