<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dataset Management</a></li>
                        <li><a href="#">Create and Sample</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Overview</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                              <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                              <h4>This webpage is for organizing a set of data to be used in a particular project.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Dataset Query Options</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <h3>Define a Dataset as multiple sub-queries across time spans (start / end)</h3>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Select Platform to Query</label>
                                    <select id="queryDB">
                                        <option selected>twitter</option>
                                        <option>instagram</option>
                                    </select>
                                </div>
                            </div>
                            <div class='row form-group'>
                                <div class="col-sm-3" align='left'>
                                    <label>Add subset:</label>
                                    <button type='button' id="addDataset" class="btn btn-default btn-label-left">
                                            +
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-1" align="center">
                                    <label>Remove</label>
                                </div>
                                <div class="col-sm-4" align="center">
                                    <label>Query</label>
                                </div>
                                <div class="col-sm-3" align="center">
                                    <label>Start Date</label>
                                </div>
                                <div class="col-sm-3" align="center">
                                    <label>End Date</label>
                                </div>
                            </div>
                            <div id='subsets'>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="submitQuery" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-rocket txt-danger"></i></span>
                                            Get Total
                                    </button>
                                </div>
                                <div class="col-sm-4" align='right'>
                                    <button type='button' id="submitTagSample" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-th-large txt-danger"></i></span>
                                            Get Tag Counts For Sampling
                                    </button>
                                </div>
                                <div class="col-sm-4" align='right'>
                                    <button type='button' id="submitRuleSample" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-th txt-danger"></i></span>
                                            Get Rule Counts For Sampling
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row statusbox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Query Status</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="pause">
                            </div>
                            <div id="response">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row resultbox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Dataset Totals</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <h4>Total Dataset Count = <span id='datasetTotal'>0</span></h4>
                            <table id="datasettotal" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row samplebox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Dataset Sampling</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <h4>Total Sampling of Dataset Count:</h4>
                            <div class="row form-group">
                                <div class="col-sm-8">
                                    <table class="table table-heading table-bordered">
                                        <thead><tr>
                                            <th>Total</th>
                                            <th>Sample</th>
                                            <th>+ Over/Under Sampling Delta</th>
                                            <th>= Calculated Sample</th>
                                        </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td><span id='sampletotal'>0</span></td>
                                                <td><input type='text' placeholder='e.g. 1000 or 25%' id='sampletext' size='20px' value='0'></input></td>
                                                <td><span id='sampledeltatotal'>0</span></td>
                                                <td><span id='sampletotalcalc'>0</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            [Note: This contains duplicates of data across categories, resulting in a higher total number; recommend over sampling]
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="submitsample" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-rocket txt-danger"></i></span>
                                            Download Sample
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group">
                                <span id='tagfilter' class="col-sm-6" align='left'>
                                </span>
                            </div>
                            <table id="datasetsample" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Submitted Dataset Samples Jobs</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="checkJob" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-refresh txt-primary"></i></span>
                                            Start Auto Check Status
                                    </button>
                                </div>
                            </div>                                             
                            <table id="jobstatus" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script src='plugins/select2/select2.min.js'></script>
            <script src="http://d3js.org/d3.v3.min.js"></script>
            <script type="text/javascript">
                setupDataset();
            </script>
