<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dataset Management</a></li>
                        <li><a href="#">ReHydrate</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Overview</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                              <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                              <h4>This webpage is for rehydrating id's with all their data for a particular project.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Submit ReHydrate File</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-8">
                                    <label class="control-label" style='vertical-align: top;'>Input File Path:&nbsp;</label>
                                    <input type='text' placeholder="H:\DATA\Projects\UPenn\ecig.csv" id='fileselectinput'  style='width: 100%;'></input>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-8">
                                    <label class="control-label" style='vertical-align: top;'>Output File Path:&nbsp;</label>
                                    <input type='text' placeholder="H:\DATA\Projects\UPenn\ecig_rehydrate.csv" id='fileselectoutput' style='width: 100%;'></input>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="submitReHydrate" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-th txt-danger"></i></span>
                                            Submit ReHydrate Job
                                    </button>
                                </div>
                            </div>
                            <div id="pause">
                            </div>
                            <div id="response">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Submitted ReHydrate Jobs</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="checkJob" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-refresh txt-primary"></i></span>
                                            Start Auto Check Status
                                    </button>
                                </div>
                            </div>                                             
                            <table id="jobstatus" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                setupReHydrate();
            </script>
