<!--Designed by DWS-->
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Databsae Management</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Introduction</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                              <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                              <h4>This webpage will monitor the Database.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Database Information for</span>&nbsp;<span id='dbname'></span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                                <h4>Total count=<span id='totalcount'></span></h4>
                              <table class='table table-border' id='dbtable'>
                                <thead>                                    
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
            <script type='text/javascript'>
            dbManageSetup();
            </script>
