<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">GNIP Twitter Estimation Tool</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Introduction</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                            <h4>This webpage allows you to submit and view GNIP Twitter estimates (based on a json file).</h4>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button id='demo' type='button'  class="btn btn-primary">
                                        <i class="fa fa-comments"></i>&nbsp;Start Tour of Tool
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Submit Estimate</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id='fileinput' class="row form-group">
                                <div class="col-sm-4">
                                    <div id="filedrag">
                                            <span>Drop files here or click to select</span>
                                            <span id='labelFile'></span>
                                    </div>
                                    <input id="fileUploadLabel" accept='.json' type="file" name="files[]"/>
                                </div>
                            </div>
                            <div class="row form-group" id='daterange'>
                                <label class="col-sm-2 control-label" style='text-align: right;'>Date period:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="datestart" placeholder="Date start">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="dateend" placeholder="Date end">
                                </div>
                                 
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="submitQuery" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-rocket txt-danger"></i></span>
                                            Run Query
                                    </button>
                                </div>
                                <div class="col-sm-3" id="pause">
                                </div>
                            </div>                            
                        </div>                            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Estimate Results</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="checkJob" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-refresh txt-primary"></i></span>
                                            Start Auto Check Status
                                    </button>
                                </div>
                            </div>                                             
                            <table id="jobstatus" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script src='plugins/introjs/intro.js'></script>            
            <script type="text/javascript">
              setupEstimates();
              </script>


