<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Machine Classification Management</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Overview</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                              <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                              <h4>This webpage is for setting up and organizing the machine classifiers for a particulare project.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Instructions for Machine Classifer Training</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul><li>Please configure the classifier with all the options desired.  Enter a description and name for the classifier.</li>
                            <li>Select a .csv or .xlsx file to upload. As soon as the file is selected the file will begin uploading.  When it finishes uploading it will give you an option to pick the columns of the data that is the "text" that was classified, and the "label" for the text.</li>
                            <li>After everything is selected press the Submit button and wait for the results of the Training.</li></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Load Previous Classifier</span>
                            </div>
                            <div class="box-icons">
                                <a id='prevclassbtn' class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id='zipinput' class="row form-group">
                                <div class="col-sm-2">
                                    <span class="btn btn-success fileinput-button">
                                        <span>Select file...</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="zipupload" accept='.zip' type="file" name="files[]"/>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <!-- The global progress bar -->
                                    <div id="zipprogress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Classifier Configuration</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <form id='basicform'>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="control-label">Classifier Name:</label>
                                        <input type='text' name='classname' id='classname' size='40' placeholder='Enter Classifier Name'/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Description:</label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <textarea style='resize: none;' id='description' cols='50' rows='5' maxLength='300' placeholder='Enter Description of Classifier'/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Percent of data to use for testing (or # of tests between 10-90% to create a learning curve):</label>
                                        <input type='text' name='testpercent' id='testpercent' size='25' placeholder='e.g. 0.25 or 10'/>
                                    </div>
                                </div>
                                <div id='fileinput' class="row form-group">
                                    <div class="col-sm-2">
                                        <span class="btn btn-success fileinput-button">
                                            <span>Select file...</span>
                                            <!-- The file input field used as target for the file upload widget -->
                                            <input id="fileupload" accept='.csv,.xlsx' type="file" name="files[]"/>
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- The global progress bar -->
                                        <div id="progress" class="progress">
                                            <div class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </div>
                                    <!-- The container for the uploaded files -->
                                    <div class="col-sm-4">
                                        <div id="files" class="files"></div>
                                    </div>
                                </div>
                                <div id='headerinput' class="row">
                                    <div class="col-sm-4 form-group">
                                        <label class="control-label">File Selected:</label>
                                        <div id="fileselected" class="files"></div>
                                        <button id='chgfile' class="btn btn-default">Change File</button>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label class="control-label">Text Column</label>
                                        <select id="textcolumn" name='textcolumn'>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label class="control-label">Label Column</label>
                                        <select id="labelcolumn" name='labelcolumn'>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div id='moretraining' class="row form-group" style='display: none;'>
                                <label class="col-sm-3 control-label">Add more training:</label>
                                <div class="col-sm-2">
                                    <div class="toggle-switch toggle-switch-warning">
                                        <label>
                                            <input id='moretrainingckbox' type="checkbox">
                                            <div class="toggle-switch-inner"></div>
                                            <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Configuration of the Classifier:</label>
                                    <button class="btn btn-danger" id="resetdefault">Default</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <div class="box-name">
                                                <span>Count Vectorizer</span>
                                            </div>
                                            <div class="box-icons">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="box-content" style='display: none;'>
                                            <b>Description:</b> Convert a collection of text documents to a matrix of token counts.  <a href='http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html' target='_blank'>See API</a>
                                            <hr>
                                                <button class="btn btn-danger" id="resetdefaultCount">Default</button>
                                                <form id='CountVectorizer' class="form-horizontal">
                                                    <fieldset>
                                                        <legand>Required</legand>
                                                        <div class='form-group'>
                                                            <label class="col-sm-3 control-label">analyzer:</label>
                                                            <div class='col-sm-4'>
                                                                <select class='form-control' name='analyzer'>
                                                                    <option value='word' selected>word</option>
                                                                    <option value='char'>char</option>
                                                                    <option value='char_wb'>char_wb</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class='form-group'>
                                                            <label class="col-sm-3 control-label">lowercase:</label>
                                                            <div class='col-sm-4'>
                                                                <select class='form-control' name='lowercase'>
                                                                    <option value='true' selected>true</option>
                                                                    <option value='false'>false</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class='form-group'>
                                                            <label class="col-sm-3 control-label">max_df:</label>
                                                            <div class='col-sm-4'>
                                                                <input type='text' class='form-control' name='max_df' size='10' placeholder='float 0.0 to 1.0, or integer 1+' value='1.0'/>
                                                            </div>
                                                        </div>
                                                        <div class='form-group'>
                                                            <label class="col-sm-3 control-label">min_df:</label>
                                                            <div class='col-sm-4'>
                                                                <input type='text' class='form-control' name='min_df' size='10' placeholder='float 0.0 to 1.0, or integer 1+' value='1'/>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <legand>Optional</legand>
                                                        <div class='form-group'>
                                                            <label class='col-sm-3 control-label'>ngram_range:</label>
                                                            <div class='col-sm-5'>
                                                                <input type='text' class='form-control' name='ngram_range' size='10' placeholder='e.g. 1-100' />
                                                            </div>
                                                        </div>
                                                        <div class='form-group'>
                                                            <label class='col-sm-3 control-label'>stop_words:</label>
                                                            <div class='col-sm-7'>
                                                                <input type='text' class='form-control' name='stop_words' size='10' placeholder='blank, english or comma list' />
                                                            </div>                                                                
                                                        </div>
                                                        <div class='form-group'>
                                                            <label class="col-sm-3 control-label">token_pattern:</label>
                                                            <div class='col-sm-7'>
                                                                <input type='text' class='form-control' name='token_pattern' size='10' placeholder='regular expression: \d+-[\w,]*' />
                                                            </div>
                                                        </div>
                                                        <div class='form-group'>
                                                            <label class="col-sm-3 control-label">max_features:</label>
                                                            <div class='col-sm-4'>
                                                                <input type='text' class='form-control' name='max_features' size='10' placeholder='e.g. 4' />
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                        
                                <div class="col-sm-5 col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <div class="box-name">
                                                <span>Tfidf Transformer</span>
                                            </div>
                                            <div class="box-icons">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="box-content" style='display: none;'>
                                            <b>Description:</b> Transform a count matrix to a normalized term-frequency (tf) or term-frequency times inverse document-frequency (tf-idf) representation.  <a href='http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html' target='_blank'>See API</a>
                                            <hr>
                                            <button class="btn btn-danger" id="resetdefaultTfidf">Default</button>
                                            <form id='TfidfTransformer' class="form-horizontal">
                                                <fieldset>
                                                    <legand>Required</legand>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">use_idf:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='use_idf'>
                                                                <option value='true' selected>true</option>
                                                                <option value='false'>false</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">smooth_idf:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='smooth_idf'>
                                                                <option value='true' selected>true</option>
                                                                <option value='false'>false</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">sublinear_tf:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='sublinear_tf'>
                                                                <option value='true'>true</option>
                                                                <option value='false' selected>false</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legand>Optional</legand>
                                                    <div class='form-group'>
                                                        <label class='col-sm-3 control-label'>norm:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='norm'>
                                                                <option value='null' selected>-SELECT-</option>
                                                                <option value='l1'>l1</option>
                                                                <option value='l2'>l2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                        
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <div class="box-name">
                                                <span>SGD Classifier</span>
                                            </div>
                                            <div class="box-icons">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="box-content" style='display: none;'>
                                            <b>Description:</b> Linear classifiers (SVM, logistic regression, a.o.) with stochastic gradient descent (SGD) training.  <a href='http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html' target='_blank'>See API</a>
                                            <hr>
                                            <button class="btn btn-danger" id="resetdefaultSGD">Default</button>
                                            <form id='SGDClassifier' class="form-horizontal">
                                                <fieldset>
                                                    <legand>Required</legand>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">loss:</label>
                                                        <div class='col-sm-7'>
                                                            <select class='form-control' name='loss'>
                                                                <option value='hinge' selected>hinge</option>
                                                                <option value='log'>log</option>
                                                                <option value='modified_huber'>modified_huber</option>
                                                                <option value='squared_hinge'>squared_hinge</option>
                                                                <option value='perceptron'>perceptron</option>
                                                                <option value='squared_loss'>squared_loss</option>
                                                                <option value='huber'>huber</option>
                                                                <option value='epsilon_insensitive'>epsilon_insensitive</option>
                                                                <option value='squared_epsilon_insensitive'>squared_epsilon_insensitive</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">penalty:</label>
                                                        <div class='col-sm-5'>
                                                            <select class='form-control' name='penalty'>
                                                                <option value='none'>none</option>
                                                                <option value='l1'>l1</option>
                                                                <option value='l2' selected>l2</option>
                                                                <option value='elasticnet'>elasticnet</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">alpha:</label>
                                                        <div class='col-sm-4'>
                                                            <input type='text' class='form-control' name='alpha' size='10' value='0.0001' />
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">l1_ratio:</label>
                                                        <div class='col-sm-4'>
                                                            <input type='text' class='form-control' name='l1_ratio' size='10' value='0.15' />
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">fit_intercept:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='fit_intercept'>
                                                                <option value='true' selected>true</option>
                                                                <option value='false'>false</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group' style='display: none;'>
                                                        <label class="col-sm-3 control-label">n_iter:</label>
                                                        <div class='col-sm-4'>
                                                            <input type='text' class='form-control' name='n_iter' size='10' value='5' />
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">shuffle:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='shuffle'>
                                                                <option value='true' selected>true</option>
                                                                <option value='false'>false</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">eta0:</label>
                                                        <div class='col-sm-4'>
                                                            <input type='text' class='form-control' name='eta0' size='10' value='0.0' />
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">power_t:</label>
                                                        <div class='col-sm-4'>
                                                            <input type='text' class='form-control' name='power_t' size='10' value='0.5' />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legand>Optional</legand>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">random_state:</label>
                                                        <div class='col-sm-4'>
                                                            <input type='text' class='form-control' name='random_state' size='10' placeholder='blank (or 1+)' />
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class='col-sm-3 control-label'>class_weight:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='class_weight'>
                                                                <option value='null' selected>-SELECT-</option>
                                                                <option value='balanced'>balanced</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">average:</label>
                                                        <div class='col-sm-7'>
                                                            <input type='text' class='form-control' name='average' size='10' placeholder='blank (or: true, false, 1+)' />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                        
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <div class="box-name">
                                                <span>Cross Validation</span>
                                            </div>
                                            <div class="box-icons">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="box-content" style='display: none;'>
                                            <b>Description:</b> Evaluate a score by cross validation.  <a href='http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.cross_val_score.html#sklearn.cross_validation.cross_val_score' target='_blank'>See API</a> and <a href='http://scikit-learn.org/stable/modules/model_evaluation.html' target='_blank'>See Score Types</a>
                                            <hr>
                                            <button class="btn btn-danger" id="resetdefaultCrossValidation">Default</button>
                                            <form id='CrossValidation' class="form-horizontal">
                                                <fieldset>
                                                    <legand>Required</legand>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">cv:</label>
                                                        <div class='col-sm-5'>
                                                            <input type='text' class='form-control' name='cv' size='10' value='5' />
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">scoring:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='scoring'>
                                                                <option value='accuracy'>accuracy</option>
                                                                <option value='average_percision'>average_percision</option>
                                                                <option value='f1'>f1</option>
                                                                <option value='f1_micro'>f1_micro</option>
                                                                <option value='f1_macro'>f1_macro</option>
                                                                <option value='f1_weighted' selected>f1_weighted</option>
                                                                <option value='f1_samples'>f1_samples</option>
                                                                <option value='precision'>precision</option>
                                                                <option value='precision_micro'>precision_micro</option>
                                                                <option value='precision_macro'>precision_macro</option>
                                                                <option value='precision_weighted'>precision_weighted</option>
                                                                <option value='precision_samples'>precision_samples</option>
                                                                <option value='recall'>recallrecall</option>
                                                                <option value='recall_micro'>recall_micro</option>
                                                                <option value='recall_macro'>recall_macro</option>
                                                                <option value='recall_weighted'>recall_weighted</option>
                                                                <option value='recall_samples'>recallrecall_samples</option>
                                                                <option value='roc_auc'>roc_auc</option>
                                                                <option value='log_loss'>log_loss</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class="col-sm-3 control-label">skip CV if > 100,000 lines:</label>
                                                        <div class='col-sm-4'>
                                                            <select class='form-control' name='skiplarge'>
                                                                <option value='true' selected>true</option>
                                                                <option value='false'>false</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4" align='right'>
                                    <button type='button' id="submitTraining" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-rocket txt-danger"></i></span>
                                            Train Classifier
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='statusmaster' class="row">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Classifier Prediction Results</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="checkJob" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-refresh txt-primary"></i></span>
                                            Start Auto Check Status
                                    </button>
                                </div>
                            </div>                                             
                            <table id="jobstatus" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
            <script src="plugins/blueimp/js/jquery.iframe-transport.js"></script>
            <script src="plugins/blueimp/js/jquery.fileupload.js"></script>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type="text/javascript">
              setupClassifier();
            </script>
            <script src="plugins/ldavis/d3.v3.js"></script>
