<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Query Data</a></li>
                    </ol>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Setup Query for <span id='dbname'></span></span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content" id='mainquery'>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button id='demo' type='button'  class="btn btn-primary">
                                        <i class="fa fa-comments"></i>&nbsp;Start Tour of Tool
                                    </button>
                                </div>
                            </div>
                            <form id="queryform" class="form-horizontal">
                                <div id='tagsection' class="form-group has-success">
                                    <div class="col-sm-1" align='right'>
                                        <button type='button' id="addTag" class="btn btn-success btn-label-left">
                                                Tag ==
                                        </button>
                                    </div>
                                    <div class="col-sm-1" align='right'>
                                        <button type='button' id="addTagNot" class="btn btn-danger btn-label-left">
                                                Tag !=
                                        </button>
                                    </div>
                                    <div class="col-sm-4" id='tagIncOut'>
                                        <select id="tagInc" class="populate placeholder s2_with_tag"></select>
                                    </div>
                                </div>
                                <div id='rulesection' class="form-group has-success">
                                    <div class="col-sm-1" align='right'>
                                        <button type='button' id="addRule" class="btn btn-success btn-label-left">
                                                Rule ==
                                        </button>
                                    </div>
                                    <div class="col-sm-1" align='right'>
                                        <button type='button' id="addRuleNot" class="btn btn-danger btn-label-left">
                                                Rule !=
                                        </button>
                                    </div>
                                    <div class="col-sm-8" id='ruleIncOut'>
                                        <select id="ruleInc" class="populate placeholder s2_with_rule"></select>
                                    </div>
                                </div>
                                <div class="form-group has-success" id='separators'>
                                    <div class="col-sm-1" align='right'>
                                        <button type='button' id="oplp" class="btn btn-default btn-label-left">
                                                (
                                        </button>
                                    </div>
                                    <div class="col-sm-1" align='right'>
                                        <button type='button' id="oprp" class="btn btn-default btn-label-left">
                                                )
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type='button' id="opand" class="btn btn-default btn-label-left">
                                                And
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type='button' id="opor" class="btn btn-default btn-label-left">
                                                Or
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12" id='pqueryOut'>
                                        <input name='pseudoquery' class="form-control" type="search" id="pquery"  placeholder="e.g. (matchingrulestag != 7 && matchingrulestag != 8) || matchingrulestag == 6" data-toggle="tooltip" data-placement="top" title="Query C++ style (matchingrulestag=Tags, matchingrulesvalue=Rules, ops: !=, ==, >, <, >=, <=, !)"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="control-label">Translated Query:</label>
                                        <p class="bg-primary" id="namequery">n/a</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span id='daterange' class="col-sm-8">
                                        <label class="col-sm-3 control-label">Date period</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="datestart" placeholder="Date start">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="dateend" placeholder="Date end">
                                        </div>
                                    </span>
                                    <div class="col-sm-4" id='showtimeslice'>
                                        <label class="control-label">Time Slice</label>
                                        <select id="timeSlice">
                                            <option selected>All</option>
                                            <option>Yearly</option>
                                            <option>Monthly</option>
                                            <option>Weekly</option>
                                            <option>Daily</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Query Options</label>
                                        <select id="querymethod">
                                            <option selected value="count">Counts Only</option>
                                            <option value="simple">In browser: Sample observations</option>
                                            <option value="sample">Submit: Sample Only</option>
                                            <option value="download">Submit: Download data (no sampling)</option>
                                        </select>
                                    </div>  
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-sm-2 samplenumselection">
                                        <label class="control-label">Sample Size</label>
                                        <input type="text" class="form-control" id="samplesize" placeholder="e.g. 1000 or 25%">
                                    </div>
                                    <div class="col-sm-4 samplemethodselection">
                                        <label class="control-label">Sample Method</label>
                                        <select id="samplemethod">
                                            <option selected value="first">First Set</option>
                                            <option value="random">Random</option>
                                        </select>
                                    </div>  
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-sm-2" align='right'>
                                        <button type='button' id="submitQuery" class="btn btn-primary btn-label-left">
                                            <span><i class="fa fa-rocket txt-danger"></i></span>
                                                Run Query
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-1" align='right'>
                                        <a id='showmongo' onclick="if($('.query').hasClass('hidden')){$('.query').removeClass('hidden');}else{$('.query').addClass('hidden');}">+</a>
                                    </div>
                                    <div class="col-sm-2 hidden query" align='right'>
                                        <button type='button' id="updateQuery" class="btn btn-default btn-label-left">
                                                Update Query
                                        </button>
                                    </div>
                                    <div class="col-sm-2 query hidden" align='right'>
                                        <div class="checkbox-inline" id='querycheckOut'>
                                            <label>
                                                <input type="checkbox" id='querycheck'> Use This:
                                                <i class="fa fa-square-o"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 hidden query" id='queryOut'>
                                        <textarea style='resize: vertical; min-height: 200px; max-height: 500px;' rows='5' cols='100' name='querystring' class="form-control" id="query" placeholder="e.g. {'matchingrulestag' : {'$ne': 7}}" data-toggle="tooltip" data-placement="top" title="JSON query directly to Mongo.  (matchingrulestag=Tags, matchingrulesvalue=Rules, $ne=Not Include, $eq=Includes)"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Query Status</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="response">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Count Query History</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table id="queryhistory" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Submitted Samples and Download Jobs</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="checkJob" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-refresh txt-primary"></i></span>
                                            Start Auto Check Status
                                    </button>
                                </div>
                            </div>                                             
                            <table id="jobstatus" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row queryresultbox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Query Results</span>
                            </div>
                            <div class="box-icons">                
                                <a class="label-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div id="morris-chart-1" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querytablebox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Toggle columns</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div id="toggleMe" class="box-content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querytablebox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Sample Data</span>
                            </div>
                            <div class="box-icons">
                                <button type='button'  class="btn btn-primary beauty-table-to-csv-all">
                                    <i class="fa fa-download"></i>&nbsp;Save all to CSV
                                </button>                                   
                                <button type='button'  class="btn btn-primary beauty-table-to-crop">
                                    <i class="fa fa-crop"></i>&nbsp;Crop non-Filtered
                                </button>           
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>                        
                        <div id='createtable' style="overflow-x: auto;" class="box-content table-responsive">
                            
                        </div>
                    </div>
                </div>
            </div>
            <script src='plugins/introjs/intro.js'></script>            
            <script type="text/javascript">
                setupQueryStuff();
            </script>
            <style>
            .hidden {
              display:none;
            }
            </style>
            <script src='plugins/datatables/jquery.dataTables.js'></script>
            <script src='plugins/datatables/ZeroClipboard.js'></script>
            <script src='plugins/datatables/TableTools.js'></script>
            <script src='plugins/datatables/dataTables.colReorder.min.js'></script>
            <script src='plugins/datatables/dataTables.colResize.js'></script>
            <script src='plugins/datatables/dataTables.bootstrap.js'></script>
            <script src='plugins/select2/select2.min.js'></script>
            <script src='plugins/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js'></script>
            <script src='plugins/bloodhound/bloodhound.min.js'></script>
            <script src='plugins/bloodhound/typeahead.jquery.min.js'></script>
            <script src='plugins/datatables/dataTables.scroller.min.js'></script>
            <script src='plugins/datatables/dataTables.autoFill.js'></script>     
