<!--Designed by DWS-->
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Tag Counts By Region</a></li>
                    </ol>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Region counts for <span class='dbname'></span></span>
                            </div>
                            <div class="box-icons">            
                                <a class="label-to-csv all-tag-region-count-to-json">
                                    <i class="fa fa-download"></i>&nbsp;Save All Counts to JSON
                                </a>
                                <a class="label-to-csv region-count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group" id='daterange'>
                                <label class="col-sm-2 control-label" style='text-align: right;'>Date period:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control daterange" id="datestart" placeholder="Date start">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control daterange" id="dateend" placeholder="Date end">
                                </div>
                                 
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id='tagfilter'></div>
                                </div>
                            </div>
                            <div class="row">
                                <div id='mapplot'></div>
                            </div>
                            <div class="row">
                                <div id='worldplot'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12" id='dailybox'>
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Monthly Counts by Tag for region <span class='regionid'></span> for  <span class='dbname'></span></span>
                            </div>
                            <div class="box-icons">            
                                <a class="label-to-csv tag-region-count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save Counts to CSV
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div id='tagdaily'>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--Not plan to use at this time.
                                    <div class="progress progress-ui">
                                        <div class="progress-bar progress-bar-success slider-range-min" style="width: 100%;"></div>
                                    </div>
                                    <h4>Moving Average: <input type="text" class="slider-range-min-amount" /></h4>
                                    -->
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" id="btnshowall">Show All Tags</button>
                                    <button class="btn btn-primary" id="btnhideall">Hide All Tags</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src='plugins/jquery-ui-month-picker/demo/MonthPicker.min.js'></script>
            <script src='plugins/select2/select2.min.js'></script>
            <script type="text/javascript">
                setupRegionData();
            </script>
