<!--Designed by DWS-->
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Rule Management</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Introduction</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                            <h4>This webpage shows the Rule Management of Twitter rules.</h4>
                            <ul>
                                <li>
                                    Pick a database to look at.
                                </li>
                                <li>
                                    On the left in Green boxes are currently active rules (i.e. the last pull was looking for those rules). 
                                </li>
                                <li>
                                    On the right the black boxes mean that the actual history in the database has at least one entry for that rule.
                                </li>
                                <li>
                                    You can filter each column by pulling down the top filter box and selecting "blank" for not highlighted box, or "X" for highlighted box.
                                </li>
                                <li>
                                    You can also filter the Rule by typing in a search.
                                </li>
                                <li>
                                    You can filter the Tag by typing in or selecting a list of tags.
                                </li>
                                <li>
                                    Note: All filters are aggregated by intersection.
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button style='display: none;' id='demo' type='button'  class="btn btn-primary">
                                        <i class="fa fa-comments"></i>&nbsp;Start Tour of Tool
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row querybox">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Rules</span>
                            </div>
                            <div class="box-icons">
                                <button style='display: none;' type='button'  class="btn btn-primary add-new-rule">
                                    <i class="fa fa-upload"></i>&nbsp;Add New Rule
                                </button>
                                <button type='button'  class="btn btn-primary count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save All Rules to CSV
                                </button>
                                <button type='button'  class="btn btn-primary beauty-table-to-csv-all">
                                    <i class="fa fa-download"></i>&nbsp;Save JSON of Active Rules
                                </button>          
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id='initruletable'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
            .selectedColumn {
                background-color: #001101;
                color: #001101;
            }
            .activeColumn {
                background-color: #009911;
                color: #009911;
            }
            </style>
            <script src='plugins/select2/select2.min.js'></script>
            <script src='plugins/datatables/jquery.dataTables.js'></script>
            <script src='plugins/datatables/dataTables.bootstrap.js'></script>
            <script src='plugins/datatables/dataTables.fixedColumns.min.js'></script>
            <script src='plugins/introjs/intro.js'></script>            
            <script type='text/javascript'>
            ruleSetup();
            </script>
