<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Topic Model</a></li>
                        <li><a href="#">Viewer</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Topic Model</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div id="errorMsg"></div>
                                    <div id="lda" style="clear: left; background-color: #ffffff; position: relative; top: 60px; left: 0px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="plugins/ldavis/d3.v3.js"></script>
<script src="plugins/ldavis/ldavis.js"></script>
<script src="js/topic.js"></script>
<script type="text/javascript">
    setupTopicModelView();
</script>
