<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Topic Model</a></li>
                        <li><a href="#">Setup</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Instructions for Submiting Topic Model Job</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <h4>Please enter a description of the topic modeling job to submit.  THEN select the .csv file to upload.  As soon as the file is selected the job will be submitted.  Repeat the process to submit another job.<h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Upload File</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-10">
                                    <textarea id='description' cols='50' rows='5' maxLength='300' placeholder='Enter Description of Topic Model Job'/>
                                </div>
                            </div>
                            <div id='fileinput' class="row form-group">
                                <div class="col-sm-2">
                                    <span class="btn btn-success fileinput-button">
                                        <span>Select file...</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="fileupload" accept='.csv' type="file" name="files[]"/>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <!-- The global progress bar -->
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                                <!-- The container for the uploaded files -->
                                <div class="col-sm-4">
                                    <div id="files" class="files"></div>
                                </div>
                            </div>
                            <div id='headerinput' class="row">
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label class="control-label">File Selected:</label>
                                        <div id="fileselected" class="files"></div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label class="control-label">Text Column</label>
                                        <select id="textcolumn" name='textcolumn'>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <button type='button' id="submitTopicModel" class="btn btn-primary btn-label-left">
                                            <span><i class="fa fa-rocket txt-danger"></i></span>
                                                Submit Topic Model
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id='pause'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Topic Model Jobs</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row form-group">
                                <div class="col-sm-2" align='right'>
                                    <button type='button' id="checkJob" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-refresh txt-primary"></i></span>
                                            Start Auto Check Status
                                    </button>
                                </div>
                            </div>                                             
                            <table id="jobstatus" class="table table-hover table-heading table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="plugins/ldavis/d3.v3.js"></script>
<script src="plugins/ldavis/ldavis.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/blueimp/js/jquery.iframe-transport.js"></script>
<script src="plugins/blueimp/js/jquery.fileupload.js"></script>
<script type="text/javascript">
    setupTopicModel();
</script>
