<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Visualize CSV Data Viewer</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Overview</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                              <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                              <h4>This webpage allows viewing only a few lines from a CSV file.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Instructions for Visualize CSV Viewer</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul>
                                <li>Select to display the first few row, last few rows, or random sampling.</li>
                                <li>Then select a .csv file or drag and drop a CSV file.</li>
                                <li>Select what part of the file you want to display (starting at beginning or end).</li>
                                <li>Select how often you want to display a line.</li>
                                <li>Select how many lines to display of the file.</li>
                                <li>Then click the Visualize button to start displaying rows of the data.</li>
                                <li>Note: First column in table is the row number in the actual file.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Select File</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link selectfileclose">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content fileinputbox">
                            <div id='fileinput' class="row form-group">
                                <div class="col-sm-4">
                                    <span id="filedrag">
                                            <span>Drop files here or click to select</span>
                                            <span class='fileselected'></span>
                                    </span>
                                    <input id="fileupload" accept='.csv' type="file" name="files[]"/>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" style='vertical-align: top;'>Number of lines to skip from beginning of file before start displaying lines:</label>
                                    <input type='text' id="displaytype" value="0" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label" style='vertical-align: top;'>Select lines to display:</label>
                                    <select id="displaynumber">
                                        <option value="1" selected>All</option>
                                        <option value="10">Randomly every 10</option>
                                        <option value="100">Randomly every 100</option>
                                        <option value="1000">Randomly every 1,000</option>
                                        <option value="10000">Randomly every 10,000</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label" style='vertical-align: top;'>How many lines to display:</label>
                                    <select id="displaymax">
                                        <option value="10" selected>10</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 columns" style="display: none;">
                                    <label class="control-label" style='vertical-align: top;'>Select what columns to show (if none selected, will show all):</label>
                                    <select class='datacolumn' id="showcolumn" multiple>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <button type='button' id="submitVisualize" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-rocket txt-danger"></i></span>
                                            Visualize File
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row statusbox" style='display: none;'>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Viewer Results</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="responseone">
                            </div>
                            <div id="pause" style='display: none;'>
                                <button type="button" id="endquery" class="btn btn-danger btn-app-sm"><i class="fa fa-spinner fa-spin"></i></button>
                                <h6 id="updatetime"></h6>
                            </div>
                            <br>
                            <div id="response">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row statusbox" style='display: none;'>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Viewer Data for <span id='filename'></span></span>
                            </div>
                            <div class="box-icons">         
                                <button type='button' class="btn btn-primary count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </button>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content" style="overflow-x: scroll; width: 100%">
                            <table id="viewdata" class="table table-hover table-heading table-bordered viewer" >
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                //Needed for running Papa CSV parser as a worker (i.e a background task in browser)
                Papa.SCRIPT_PATH = 'plugins/papa_parse/PapaParse-4.1.0/papaparse.min.js';
                setupVisualizeViewer();
            </script>
