<!--Designed by DWS-->
<div id="overlaytext"></div>
            <div class="row">
                <div id="breadcrumb" class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Visualize CSV Data</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Overview</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                              <h3>Welcome to the Health Media Collaboratory internal webpage.</h3>
                              <h4>This webpage allows loading and counting the lines by Classification/Tag and Day.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Instructions for Visualize CSV Tool</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul>
                                <li>Select a .csv file to upload. As soon as the file is selected the file will begin uploading.</li>
                                <li>After selected it will give you an option to pick the columns of the data that is the tag, classification, and date columns.</li>
                                <li>Date can either be in a single column, or across multiple columns (year/month/day).</li>
                                <li>Note: Will auto select the standard HMC Tech columns names (i.e. Classifications: class_* and *_r, Tags: matchingrulestag*, Date:postedTime or Year/Month/Day).</li>
                                <li>If you want the counts to be automatically downloaded as CSV after creating, then select the checkbox.</li>
                                <li>Select if want to search for bad characters (i.e. 0x1A - Soft EOF).</li>
                                <li>Select an Idpost column to evaluate if correct length (if not selected with skip).</li>
                                <li>After everything is selected press the Submit button and wait for the results.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Select File</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link selectfileclose">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content fileinputbox">
                            <div id='fileinput' class="row form-group">
                                <div class="col-sm-4">
                                    <span id="filedrag">
                                            <span>Drop files here or click to select</span>
                                            <span class='fileselected'></span>
                                    </span>
                                    <input id="fileupload" accept='.csv' type="file" name="files[]"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row headerinput">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Select Columns</span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link selectcolumnclose">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content selectcolumnbox">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" style='vertical-align: top;'>File Selected:&nbsp;</label>
                                    <span id='myfileselected'></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" style='vertical-align: top;'>Examine file for bad characters:&nbsp;</label>
                                    <input id='badcharckbox' class="checkbox-inline" type="checkbox">
                                </div>
                            </div>
                            <div class="row form-group">
                                <!--div class="col-sm-4">
                                    <label class="control-label">Unique ID Column</label>
                                    <select class='datacolumn' id="uidcolumn">
                                    </select>
                                </div-->
                                <div class="col-sm-4">
                                    <label class="control-label" style='vertical-align: top;'>Tag Columns</label>
                                    <select class='datacolumn' size='6' id="tagcolumn" multiple>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label" style='vertical-align: top;'>Classification Column(s)</label>
                                    <select class='datacolumn' size='6' id="labelcolumn" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Idpost Column</label>
                                    <select class='datacolumn' id="idpostcolumn">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Single Date Column</label>
                                    <select class='datacolumn' id="datecolumn">
                                    </select>
                                </div>
                            </div>
                            <div id='multidate' class="row form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Mutliple Date Column: Year</label>
                                    <select class='datacolumn' id="dateyearcolumn">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Mutliple Date Column: Month</label>
                                    <select class='datacolumn' id="datemonthcolumn">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Mutliple Date Column: Day</label>
                                    <select class='datacolumn' id="datedaycolumn">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class='col-sm-5' align='right'>
                                    <label class='control-label'>Auto download CSV after count generation complete:</label>
                                </div>
                                <div class='col-sm-1'>
                                    <div class="toggle-switch toggle-switch-info">
                                        <label>
                                            <input id='autosave' type="checkbox" />
                                            <div class="toggle-switch-inner"></div>
                                            <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4" align='right'>
                                    <button type='button' id="submitVisualize" class="btn btn-primary btn-label-left">
                                        <span><i class="fa fa-rocket txt-danger"></i></span>
                                            Generate Counts and Plots
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row statusbox" style='display: none;'>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Counting Results for <span class='filename'></span></span>
                            </div>
                            <div class="box-icons">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="responseone">
                            </div>
                            <div id="pause" style='display: none;'>
                                <button type="button" id="endquery" class="btn btn-danger btn-app-sm"><i class="fa fa-spinner fa-spin"></i></button>
                                <div class="progress">
                                    <div class="progress-bar progress-immediate progress-bar-danger" id="thebar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                        <span id="textbar">0% Complete</span>
                                    </div>
                                </div>
                                <h6 id="updatetime"></h6>
                            </div>
                            <br>
                            <div id="response">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row heatbox" style='display: none;'>
                <div class="col-xs-12" id='dailybox'>
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Plot of Tag Counts by Day for <span class='filename'></span></span>
                            </div>
                            <div class="box-icons">            
                                <button style='display: none;' type='button'  class="btn btn-primary count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </button>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div id='dailytags'>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="progress progress-ui">
                                        <div class="progress-bar progress-bar-success slider-range-minA" style="width: 100%;"></div>
                                    </div>
                                    <h4>Moving Average: <input type="text" class="slider-range-min-amount slider-range-min-amountA" /></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row labelcounts" style='display: none;'>
                <div class="col-xs-12" id='dailybox'>
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Plot of Classification Counts by Day for <span class='filename'></span></span>
                            </div>
                            <div class="box-icons">            
                                <button style='display: none;' type='button'  class="btn btn-primary label-count-to-csv">
                                    <i class="fa fa-download"></i>&nbsp;Save to CSV
                                </button>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div id='dailylabels'>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="progress progress-ui">
                                        <div class="progress-bar progress-bar-success slider-range-minB" style="width: 100%;"></div>
                                    </div>
                                    <h4>Moving Average: <input type="text" class="slider-range-min-amount slider-range-min-amountB" /></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row heatbox" style='display: none;'>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Heat Map of Tag Counts by Day for <span class='filename'></span></span>
                            </div>
                            <div class="box-icons">            
                                <a id='heatmaptag' class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content" id='heatmaptagbox'>
                            <div id="tooltipA" class="tooltip1 hidden1">
                                    <p><span id="valueA"></p>
                            </div>
                            Order: 
                              <select id="orderA">
                                  <!--option value="hclust">by max value overall</option-->
                                  <option value="probecontrast" selected>by Tag and Day</option>
                                  <option value="probe">by Tag</option>
                                  <option value="contrast">by Day</option>
                                  <option value="custom">by custom (autoset)</option>
                              </select>
                            <div id="chartA" style='overflow:auto; width:960px; height:450px;'>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row labelcounts" style='display: none;'>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-name">
                                <span>Heat Map of Classification Counts by Day for <span class='filename'></span></span>
                            </div>
                            <div class="box-icons">            
                                <a id='heatmaplabel' class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content" id='heatmaplabelbox'>
                            <div id="tooltipB" class="tooltip1 hidden1">
                                    <p><span id="valueB"></p>
                            </div>
                            Order: 
                              <select id="orderB">
                                  <!--option value="hclust">by max value overall</option-->
                                  <option value="probecontrast" selected>by Classification and Day</option>
                                  <option value="probe">by Classification</option>
                                  <option value="contrast">by Day</option>
                                  <option value="custom">by custom (autoset)</option>
                              </select>
                            <div id="chartB" style='overflow:auto; width:960px; height:450px;'>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type="text/javascript">
                //Needed for running Papa CSV parser as a worker (i.e a background task in browser)
                Papa.SCRIPT_PATH = 'plugins/papa_parse/PapaParse-4.1.0/papaparse.min.js';
                setupVisualize();
                // var icons = {
                //     header: "ui-icon-circle-arrow-e",
                //     activeHeader: "ui-icon-circle-arrow-s"
                // };
                // // Make accordion feature of jQuery-UI
                // $("#accordion").accordion({icons: icons });
            </script>
