<style>
    .allow_scroll {overflow-x : auto};
    .allow_scroll_table {width : auto};
</style>
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#">Data Tables</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box allow_scroll">
            <div class="box-header">
                <div class="box-name">
                    <span>Filter Data</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <input type="file" id="fileUpload">
            <div id="toggleMe" class="box-content">
            </div>
            <div id="uppertable-3" class="box-content no-padding table-responsive">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-3">  
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
    TestTable3();
}
function MakeSelect2(){
    $('select').select2();
    $('.dataTables_filter').each(function(){
        $(this).find('label input[type=text]').attr('placeholder', 'Search');
    });
}
$(document).ready(function() {
    // Load Datatables and run plugin on tables 
    LoadDataTablesScripts(AllTables);

    // Add Drag-n-Drop feature
    //WinMove();//DO NOT NEED

});

</script>
