<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="index.html">Dashboard</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Beauty Tables</a></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-table"></i>
					<span>Beauty Tables (Inputs in cell+Keyboard navigation)</span>
				</div>
				<div class="box-icons">
					<a class="beauty-table-to-json">
						Table to JSON
					</a>
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4>This is table with hidden inputs in cell's and keyboard navigation in table, see below</h4>
				<ol>
					<li><kbd>SHIFT</kbd>+<kbd>arrow key</kbd>-Prev(Next) cell at row/col</li>
					<li><kbd>CTRL</kbd>+<kbd>arrow key</kbd>-First(End) cell at row/col</li>
					<li><kbd>PgUp/PgDown</kbd>-First(End) cell in table</li>
					<li><kbd>Enter/Tab</kbd>-Next cell in table</li>
					<li>Press link Table to JSON in box header and see result</li>
				</ol>
				<p>For basic styling add the base class <code>.beauty-table</code> to <code>&lt;table&gt;</code>.
				</p>
				<table class="table beauty-table table-hover">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Rank</th>
							<th>Mobile OS</th>
							<th>Home page</th>
							<th>First Release</th>
							<th>Last versions</th>
							<th>Base kernel</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Android</td>
							<td><input type="text" value="1"></td>
							<td><input type="text" value="46.6%"></td>
							<td><input type="text" value="http://android.com"></td>
							<td><input type="text" value="23/09/2008"></td>
							<td><input type="text" value="4.2.2"></td>
							<td><input type="text" value="linux"></td>
						</tr>
						<tr>
							<td>Sailfish OS</td>
							<td><input type="text" value="2"></td>
							<td><input type="text" value="17.5%"></td>
							<td><input type="text" value="https://sailfishos.org/"></td>
							<td><input type="text" value="development"></td>
							<td><input type="text" value="alpha"></td>
							<td><input type="text" value="linux"></td>
						</tr>
						<tr>
							<td>CyanogenMod</td>
							<td><input type="text" value="3"></td>
							<td><input type="text" value="14.2%"></td>
							<td><input type="text" value="www.cyanogenmod.org"></td>
							<td><input type="text" value="11/07/2010"></td>
							<td><input type="text" value="10.2.1"></td>
							<td><input type="text" value="linux"></td>
						</tr>
						<tr>
							<td>FirefoxOS</td>
							<td><input type="text" value="4"></td>
							<td><input type="text" value="6.3% "></td>
							<td><input type="text" value="http://firefoxos.com"></td>
							<td><input type="text" value="02/07/2013"></td>
							<td><input type="text" value="1.4beta"></td>
							<td><input type="text" value="linux"></td>
						</tr>
						<tr>
							<td>MeeGo</td>
							<td><input type="text" value="5"></td>
							<td><input type="text" value="2.6%"></td>
							<td><input type="text" value="https://meego.com"></td>
							<td><input type="text" value="26/05/2010"></td>
							<td><input type="text" value="1.2.0.9"></td>
							<td><input type="text" value="linux"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-table"></i>
					<span>Beauty Tables (Inputs in cell+Keyboard navigation)+String Fill</span>
				</div>
				<div class="box-icons">
					<a class="beauty-table-to-json">
						Table to JSON
					</a>
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding table-responsive">
				<table id="datatable-2" class="table table-bordered table-striped table-hover table-heading table-datatable">
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// beauty-table
// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable2();
	//LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}


$(document).ready(function() {
	$('#datatable-2').append('<thead><tr>' + colheader + '<tr></thead> <tbody>' + datafields + '</tbody><tfoot><tr>' + colfooter + '</tr></tfoot>');
	// Run beauty tables plugin on every table with class .beauty-table
	$('.beauty-table').each(function(){
		// Run keyboard navigation in table
		$(this).beautyTables();
		// Nice CSS-hover row and col for current cell
		$(this).beautyHover();
	});
	// Attach to click action for create JSON data from tables.
	$('.beauty-table-to-json').on('click', function(e){
		e.preventDefault();
		var table = $(this).closest('.box').find('table');
		Table2Json(table);
	});
	// Load Datatables and run plugin on tables 
	//LoadDataTablesScripts(AllTables);
	// Add Drag-n-Drop feature
	WinMove();
});


//React.render(<TableData items={libraries} />, document.getElementById('addBeautyTable'));

var libraries = [

    { 'ID': 'A' , name: 'Backbone.js', url: 'http://documentcloud.github.io/backbone/'},
    { 'ID': 'A' , name: 'AngularJS', url: 'https://angularjs.org/'},
    { 'ID': 'A' , name: 'jQuery', url: 'http://jquery.com/'},
    { 'ID': 'A' , name: 'Prototype', url: 'http://www.prototypejs.org/'},
    { 'ID': 'A' , name: 'React', url: 'http://facebook.github.io/react/'},
    { 'ID': 'A' , name: 'Ember', url: 'http://emberjs.com/'},
    { 'ID': 'A' , name: 'Knockout.js', url: 'http://knockoutjs.com/'},
    { 'ID': 'A' , name: 'Dojo', url: 'http://dojotoolkit.org/'},
    { 'ID': 'A' , name: 'Mootools', url: 'http://mootools.net/'},
    { 'ID': 'A' , name: 'Underscore', url: 'http://documentcloud.github.io/underscore/'},
    { 'ID': 'A' , name: 'Lodash', url: 'http://lodash.com/'},
    { 'ID': 'A' , name: 'Moment', url: 'http://momentjs.com/'},
    { 'ID': 'A' , name: 'Express', url: 'http://expressjs.com/'},
    { 'ID': 'A' , name: 'Koa', url: 'http://koajs.com/'},

];


var allcol = Object.keys(libraries[0]);
var colheader = "";
var colfooter = "";
allcol.forEach(function(l,i){
     var val = "search_" + l;
     var name = "Search " + l;
     colheader += '<th><label><input type="text" name="' + val + '" value="' + name + '" class="search_init" /></label></th>';
     colfooter += '<th>' + l + "</th>\n"
});

var datafields = "";
libraries.forEach(function(i,l){
	var rowfields = "";
    for(field in i){ 
            var val = i[field];
            rowfields += '<td>' + val + '</td>\n';
            //rowfields += '<td><input type="text" value="' + val + '"/></td>\n';
            //console.log(i + ":" + field + "=" +val);
    }
    datafields += '<tr>\n' + rowfields + '</tr>\n';
});

</script>
